<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>TWCManager</title>
    {% include 'bootstrap.html.j2' %}
  </head>
  <body>
    {% include 'navbar.html.j2' %}
    You need to activate a Logging module that allows to get historical green energy information (MySQL)
  </body>
</html>
